@import "../../mixins.scss";

.genres {
    display: flex;
    gap: 5px;
    flex-direction: column;
    @include medium {
        display: flex;
        flex-direction: row;
    }
    .genre {
        background-color: var(--pink);
        padding: 3px 5px;
        border-radius: 4px;
        color: white;
        white-space: nowrap;
        font-family: var(--poppins);
        font-size: 10px;
        width: fit-content;
        @include medium {
            font-size: 14px;
        }
    }
}